.case{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}
.top-logo{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.top-logo i{
    padding: 0 5px;
    cursor: pointer;
}
/* Post Page (Trend Section) */
.profile-page .trend-section{
    width: 20rem;
    display: grid;
    grid-template-rows: .08fr 1fr;
    gap: 10px;
}
.profile-page .trend-section .contain::-webkit-scrollbar{
    display: none;
}
.profile-page .trend-section .contain{
    background-color: var(--white);
    overflow-y: auto;
    height: 90vh;
}

.profile-page .trend-section .card{
    width: 100%;
    background-color: var(--white);
    list-style: none;
    display: grid;
    font-size: .9rem;
    border-radius: .5rem;
}

.profile-page .trend-section .card-title{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}
.profile-page .trend-section .card h4{
    font-family: var(--bold-font);
    padding: 10px 10px 5px 10px;
}
.profile-page .trend-section .card li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: .4rem;
}
.profile-page .trend-section .card li .usp{
    height: 3rem;
    border: 1px solid var(--light-gray);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    width: 3rem;
}
.profile-page .trend-section .card li .usp img{
    width: 130%;
}
.profile-page .trend-section .card li .content{
    font-size: .8rem;
    display: grid;
    gap: 5px;
    padding: 5px 0;
    flex: 1;
}
.profile-page .trend-section .card li .content span{
    color: var(--gray);
}
.profile-page .trend-section .card li .content .react{
    display: flex;
    gap: 10px;
    align-items: center;
}
.profile-page .trend-section .card li .state{
    padding: 5px 15px;
    border-radius: .25rem;
    text-transform: capitalize;
    font-size: small;
    cursor: pointer;
}
.profile-page .trend-section .card li .has-pic{
    height: 3rem;
    width: 3rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-page .trend-section .card li .has-pic img{
    width: 100%;
}
.profile-page .trend-section .card li .no-follow{
    color: var(--white);
    background-color: var(--blue);
}
.profile-page .trend-section .card li .follow{
    color: var(--black);
    border: 1px solid var(--light-gray);
}

.profile-page .trend-section .card li .content .react i:hover{
    color: var(--red);
    cursor: pointer;
    font-weight: 900;
}
/* Post Page (Trend Section) End*/

/* Styling the story Section */
.stories{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 10px;
    padding: 0px 0px 10px 0px;
    overflow-x: auto;
}
.stories::-webkit-scrollbar{
    display: none;
}
.stories .story{
    min-height: 11rem;
    min-width: 8.23rem;
    max-height: 11rem;
    max-width: 8.23rem;
    cursor: pointer;
    background-color: var(--tab-cover);
    border-radius: .4rem;
    border: 1px solid var(--light-gray);
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
}
.stories .story img{
    width: 100%;
}
.stories .story span{
    position: absolute;
    display: grid;
    height: 11rem;
    width: 8rem;
    padding: 10px 5px;
    color: var(--t-white);
}
.stories .story span .numOfPost{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 1rem;
}
.stories .story span .numOfPost p{
    padding: 2.5px 5px;
    height: fit-content;
    font-size: .9rem;
    border-radius: .4rem;
    background-color: var(--blue);
}
.stories .story span .username{
    height: 100%;
    display: flex;
    align-items: flex-end;
    font-size: .9rem;
}
.stories .story span .username  p{
    display: flex;
    align-items: center;
    gap: 5px;
}
.stories .story span .username  p i{
    font-size: .8rem;
    /* color: var(--blue); */
    font-weight: 900;
}

.stories .story span .username  p t{
    max-width: 6    rem;
    overflow: hidden;
    text-overflow: ellipsis;

}

.stories .story:nth-child(1){
    cursor: default;
    display: grid;
    grid-template-rows: 1fr .4fr;
}
.stories .story:nth-child(1) .usp{
    height: 7rem;
    overflow: hidden;
}
.stories .story:nth-child(1) .txt{
    background-color: var(--white);
    display: flex;
    height: 3.7rem;
    align-items: center;
    flex-direction: column;
}
.stories .story:nth-child(1) .txt i{
    background-color: var(--blue);
    color: var(--t-white);
    font-size: .9rem;
    margin-top: -.7rem;
    cursor: pointer;
    width: 1.5rem;
    border: 2px solid var(--white);
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.my-story-card{
    padding-top: 10px;
    padding-left: 5px;
    border-radius: .4rem;
    padding-right: 5px;
    background-color: var(--white);
    margin-bottom: 5px;
}

.my-story-card p{
    padding: 10px 5px;
    font-size: .9rem;
    text-transform: uppercase;
}

.slide-post-type{
    display: flex;
}
.slide-post-type .all-post .line-tag{
    width: 100%;
    display: flex;
}
.slide-post-type .all-post:nth-child(1){
    width: 100%;
}
.slide-post-type .all-post:nth-child(2){
    display: none;
}
.slide-post-type .all-post:nth-child(2) .line-tag{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.slide-post-type .all-post:nth-child(1) .line-tag .line{
    height: .25rem;
    width: 50%;
    background-color: var(--blue);
}
.slide-post-type .all-post:nth-child(2) .line-tag .line{
    height: .25rem;
    width: 50%;
    background-color: var(--blue);
}

.mark-tag{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    background-color: var(--white);
    text-align: center;
}

.mark-tag li{
    padding: 10px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.grid-pic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5px;
}

.grid-pic .grid{
    height: calc(14rem*1.5);
    border: 1px solid var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.grid-pic .grid .hover-cover{
    position: absolute;
    height: 100%;
    color: var(--t-white);
    background-color: var(--hover-pic);
    display: flex;
    top: -100%;
    align-items: center;
    backdrop-filter: blur(5px);
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.hover-pic{
    animation: hover-pic .25s ease-in-out forwards;
}
.hover-pic-leave{
    animation: hover-pic-leave .25s ease forwards;
}
.hover-pic-i{
    animation: hover-pic-i 1s ease forwards;
}
.grid-pic .grid .hover-cover i{
    font-size: 1.98rem;
    animation-delay: .25s;
}
.grid-pic .grid img{
    max-width: 120%;
    min-height: 100%;
}

@media screen and (max-width: 640px) {
    .grid-pic .grid{
        height: 9rem;
    }
    .stories{
        gap: 5px;
        margin-bottom: 5px;
    }   
}

@keyframes hover-pic {
    from{
        top: -100%;
    }
    to{
        top: 0%;
    }
}

@keyframes hover-pic-leave {
    from{
        top: 0%;
    }
    to{
        top: -100%;
    }
}

@keyframes hover-pic-i {
    0%{
        font-size: 1.98rem;
    }
    25%{
        font-size: 2.25rem;
    }
    50%{
        font-size: 2rem;
    }
    75%{
        font-size: 2.25rem;
    }
    100%{
        font-size: 1.98rem;
    }
}